#manifesto {
  @include transform-origin( center center );
  @include transition-property( transform );
  @include transition-duration( .4s );
  @include transition-timing-function( ease-in-out );
}

[data-section="info"] {
  #manifesto {
    @include transform( scale( .2 ) );
  }
  #info {
    opacity: 1;
  }
}



#info {
  opacity: 0;
  @include transition( opacity .4s ease-in-out );
}

.info-text-left,
.info-text-right {
  @extend .pl2;
  @extend .pr2;
}
@media( min-width: $screen-sm-min ){
  .info-text-left  { padding-left:  10vw }
  .info-text-right { padding-right: 10vw }
}
@media( min-width: $screen-md-min ){
  .info-text-left  { padding-left:  25vw }
  .info-text-right { padding-right: 25vw }
}



#bl {
  width: 120px;
  margin-left: -60px;
}
